@charset 'utf-8';

@import
  './includes/normalize',
  './includes/variables',
  './includes/mixins',
  './includes/base';


@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}


.arinka {
  position: relative;
}

h1 {
  line-height: 1.1;
}

.product-overview {
  @include overviewgradient;
  position: relative;
  height: 440px;
  width: $full;
  *:not(input) {
    color: $white;
  }
}

.app-header {
  text-transform: uppercase;
  padding: 30px 40px;
  position: relative;
  .logo {
    float: left;
    margin: 0;
    h5 {
      position: relative;
      margin: 0 35px 0;
      &:before {
        content: url('../../images/plane.png');
        @include transform( scale(.18) );
        position: absolute;
        bottom: 24px;
        height: 16px;
        width: 16px;
        left: -50px;
      }
      a {
        color: $white;
      }
    }
  }
}

.navigation {
  @include transform(translate(-50%));
  display: inline-block;
  text-align: center;
  position: absolute;
  margin-top: 4px;
  left: 50%;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    a {
      letter-spacing: .02em;
      font-weight: 600;
      font-size: .67em;
      padding: 0 15px;
    }
  }
}

.misc {
  float: right;
  a {
    @include border-radius(10em);
    background-color: #ED8079;
    letter-spacing: .05em;
    padding: 10px 30px;
    font-weight: 500;
    color: $off_white;
    font-size: .67em;
  }
}

.details {
  margin: 90px auto 0;
  text-align: center;
  width: 49%;
  h1 {
    letter-spacing: .01em;
    margin-bottom: 80px;
    word-spacing: .02em;
    font-weight: 700;
    font-size: 3em;
  }
  p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  input {
    border: 3px solid $basecolor;
    @include border-radius(2em);
    text-align: center;
    padding: 15px 20px;
    color: #C3C0C0;
    width: 70%;
  }
}

.about {
  padding: 150px 200px 40px;
  text-align: center;
  h4 {
    text-transform: uppercase;
    letter-spacing: .15em;
    word-spacing: .03em;
    color: #C3C0C0;
  }
  p {
    font-size: 1.3em;
    font-weight: 500;
    color: #202020;
  }
}
