.about {
  margin: 173px auto 70px;
  text-align: center;
  display: block;
  width: 67%;
  h4 {
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: #C3C0C0;
  }
  p {
    font-size: 1.3em;
    font-weight: 500;
    color: #202020;
  }
}
