.about {
  padding: 150px 200px 40px;
  text-align: center;
  h4 {
    text-transform: uppercase;
    letter-spacing: .15em;
    word-spacing: .03em;
    color: #C3C0C0;
  }
  p {
    font-size: 1.3em;
    font-weight: 500;
    color: #202020;
  }
}
