.blog--container {
  @include gradient(#E36F55, '180deg, #E36E55 0%, #D78F52 100%');
  display: inline-block;
  position: relative;
  cursor: default;
  font-size: 1em;
  height: 440px;
  width: 100%;
  > * {
    display: inline-block;
    position: relative;
  }
  .content {
    background-color: $basecolor;
    @include footergradient;
    padding: 100px;
    height: 100%;
    float: left;
    width: 40%;
    h4 {
      text-transform: uppercase;
      letter-spacing: 1.8px;
      font-weight: 500;
      color: #FEBE61;
    }
    h1 {
      font-weight: 500;
      font-size: 3em;
      color: $white;
    }
  }
  .mosque {
    @include cloudinaryimage('47', 'mosques_eef3bz', 900, 440, 'thumb');
    background-color: $basecolor;
    background-repeat: no-repeat;
    float: right;
    height: 100%;
    z-index: -2;
    width: 60%;
  }
}
