.blog-section {
  @include gradient($color: #E36F55, $value: '180deg, #E36E55 0%, #D78F52 100%');
  display: inline-block;
  position: relative;
  cursor: default;
  font-size: 1em;
  height: 500px;
  width: 100%;
  > * {
    display: inline-block;
    position: relative;
  }
  .content {
    background-color: transparent;
    padding: 120px 95px;
    position: absolute;
    margin-left: 75px;
    font-size: 1em;
    height: 100%;
    float: left;
    @media screen and (min-width: 1201px) {
      width: 45%;
    }
    z-index: 1;
    h4 {
      text-transform: uppercase;
      letter-spacing: 1.8px;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 1em;
      color: #FEBE61;
    }
    h1 {
      word-spacing: .02em;
      font-size: 3.75em;
      line-height: 77px;
      font-weight: 600;
      color: $white;
      margin: 0px;
    }
  }
  .mosque {
    @media screen and (min-width: 1201px) {
      @include clip-path(polygon(20% 0, 100% 0, 100% 100%, 0 100%));
      width: 68%;
    }
    background-color: $basecolor;
    float: right;
    height: 100%;
  }
}
