footer {
  background-color: $white;
  padding: 30px 50px 50px;
  letter-spacing: .009em;
  position: relative;
  font-size: .78em;
  display: block;
  a {
    font-weight: 500;
    display: block;
    color: #A9A9A9;
    &:nth-child(odd) {
      float: left;
    }
    &:nth-child(even) {
      float: right;
    }
  }
}
