// Header
.app-header {
  text-transform: uppercase;
  padding: 30px 40px;
  font-size: 1em;
  position: relative;
  .logo {
    float: left;
    margin: 0;
    position: relative;
    margin: 0;
    svg {
      vertical-align: -13px;
      margin-right: 10px;
      position: relative;
      height: 40px;
      width: 33px;
      use {
        fill: $white;
      }
    }
    a {
      color: $white;
    }
  }
}

/* Navigation */
@import 'navigation';

.cta-btn {
  @include border-radius(10em);
  border: 2px solid #ED8079;
  background-color: #ED8079;
  letter-spacing: .05em;
  padding: 8px 28px;
  color: $off_white;
  font-weight: 500;
  font-size: .67em;
  margin-top: 4px;
  float: right;
  &:hover {
    background-color: transparent;
  }
}
