main {
  @include gradient($color: #EC5857, $value: '180deg, #EB5757 0%, #D59152 100%');
  display: inline-block;
  margin-bottom: 170px;
  position: relative;
  font-size: 1em;
  height: 478px;
  width: $full;
  *:not(input) {
    color: $white;
  }
}

/* Header */
@import 'header';

.product-overview {
  margin: 100px auto 0;
  text-align: center;
  font-size: 1em;
  width: 51%;
  h1 {
    letter-spacing: .01em;
    word-spacing: .02em;
    margin-bottom: 0px;
    font-size: 3.3em;
    font-weight: 700;
  }
}

.search-section {
  margin-top: 90px;
  label {
    margin-bottom: 20px;
    font-size: 1.2em;
    display: block;
  }
  input {
    border: 3px solid $basecolor;
    @include border-radius(2em);
    text-align: center;
    padding: 17px 20px;
    font-weight: 400;
    color: #757575;
    width: 83.813%;
    &::placeholder { color: #C3C0C0; }
    // Some how, Firefox lightens the color of placeholders.
    // We use a darker color then.
    &::-moz-placeholder { color: #737070; }
    &::-webkit-input-placeholder { color: #C3C0C0; }
    &::-ms-input-placeholder { color: #C3C0C0; }
    &:-ms-input-placeholder { color: #C3C0C0; }
  }
}
