main {
  @include gradient(#EC5857, '180deg, #EB5757 0%, #D59152 100%');
  display: inline-block;
  margin-bottom: 170px;
  position: relative;
  font-size: 1em;
  height: 440px;
  width: $full;
  *:not(input) {
    color: $white;
  }
}

/* Header */
@import 'header';

.product-overview {
  margin: 90px auto 0;
  text-align: center;
  font-size: 1em;
  width: 49%;
  h1 {
    letter-spacing: .01em;
    margin-bottom: 80px;
    word-spacing: .02em;
    font-weight: 700;
    font-size: 3em;
  }
  p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  input {
    border: 3px solid $basecolor;
    @include border-radius(2em);
    text-align: center;
    padding: 17px 20px;
    font-weight: 400;
    color: #757575;
    width: 83.813%;
    &::placeholder { color: #C3C0C0; }
    &::-moz-placeholder { color: #C3C0C0; }
    &::-webkit-input-placeholder { color: #C3C0C0; }
    &::-ms-input-placeholder { color: #C3C0C0; }
    &:-ms-input-placeholder { color: #C3C0C0; }
  }
}
