// Fonts

@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../../fonts/Catamaran-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
