@media screen and (max-width: 999px) {
  .arinka {
    .cards--container {
      .card { padding-top: 205px; height: 300px; }
      .button { margin: 70px auto; }
    }
    .blog--container { height: 400px; }
    .app-header { padding: 30px; }
  }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
  html { font-size: 16px; }
  .arinka {
    .app-header { font-size: 1.089em; }
    .product-overview {
      margin-top: 125px;
      h1 { margin-bottom: 110px; }
      p { margin-bottom: 6px; }
      input { padding: 14px 20px; }
    }
    .cards--container { width: 92.5%; }
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  html { font-size: 15px; }
  .arinka {
    .app-header { font-size: 1.08em; }
    .navigation li a { letter-spacing: .05em; }
    .product-overview {
      margin-top: 125px;
      font-size: 1.13em;
      width: 80%;
      h1 { margin-bottom: 110px; }
      p { margin-bottom: 5px; }
      input { padding: 12px 20px; }
    }
    .about { width: 93%; font-size: .96em; }
    .cards--container {
      width: 98%;
      .card { margin-right: 10px; }
      .button { margin-bottom: 60px; }
    }
    .blog--container {
      height: 350px;
      .content { width: 45%; }
      .mosque { width: 55%; }
    }
    footer { font-size: .9em; }
  }
}

@media screen and (max-width: 851px) {
  .arinka {
    .app-header .logo svg { width: 30px; margin-right: 7px; }
    .navigation { left: 46%; margin-top: 10px; }
    .cta-btn { margin-top: 6px; }
    .cards--container .card {
      padding-top: 180px;
      margin-right: 5px;
      height: 270px;
      width: 32%;
    } 
  }
}

@media screen and (min-width: 786px) and (max-width: 830px) {
  html { font-size: 14px; }
  .arinka {
    .product-overview { font-size: 1.145em; }
    .cards--container .card { width: 32.6%; }
  }
}

@media screen and (max-width: 785px) {
  html { font-size: 13px; }
  .arinka {
    main { font-size: .98em; margin-bottom: 100px; }
    .product-overview { margin-top: 135px; }
    .cards--container {
      .card {
        padding: 160px 20px 0;
        height: 240px;
      }
      .button {
        margin: 50px auto;
      }
    }
    .blog--container {
      height: 300px;
      .content { padding: 80px 50px; }
    }
  }
}

@media screen and (max-width: 743px) {
  .arinka {
    .app-header { font-size: 1.15em; }
    .product-overview {
      width: 87%;
      h1 { margin-bottom: 115px; }
    }
  }
}

@media screen and (max-width: 720px) {
  .arinka {
    .product-overview { width: 85%; }
    .cards--container .card {
      padding-top: 135px;
      height: 220px;
      width: 32.5%;
    }
  }
}
