@media screen and (max-width: 650px) {
  .arinka .product-overview h1 { font-size: 3.3em; }
  .search-section { margin-top: 120px; }
}

@media screen and (max-width: 634px) {
  .arinka {
    main { height: 440px; font-size: .95em; }
    .product-overview {
      margin-top: 105px;
      width: 92%;
    }
  }
}

@media screen and (max-width: 620px) {
  @include cardsizing(
    $valign: -28.5px,
    $height: 270px,
    $width: 46%,
    $factor: 90
  );
}

@media screen and (max-width: 599px) {
  @include cardsizing($valign: -31.5px);
  html { font-size: 12.5px; }
  .arinka {
    main { height: 390px; }
    .app-header {
      padding: 20px 15px;
      font-size: 1.18em;
      .logo svg {
        vertical-align: -16px;
        margin-right: 4px;
        height: 43px;
        width: 22px;
      }
    }
    .cta-btn {
      padding: 5px 15px;
      margin-top: 9px;
      font-size: .7em;
    }
    .product-overview {
      margin-top: 115px;
      font-size: 1.13em;
    }
    .search-section {
      margin-top: 80px;
      input { padding: 10px 20px; }
    }
    .cards-section { width: 100%; }
    .about { width: 95%; font-size: .9em; }
    .blog-section { height: 460px; }
  }
}

@media screen and (max-width: 568px) {
  .arinka .product-overview h1 {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 550px) {
  .arinka {
    .product-overview { width: 98%; }
    .about { font-size: .85em; }
  }
}

@media screen and (max-width: 539px) {
  @include cardsizing($width: 50%);
}

@media screen and (max-width: 518px) {
  .arinka {
    .product-overview h1 { font-size: 2.9em; }
    .search-section { margin-top: 90px; }
  }
}

@media screen and (max-width: 504px) {
  .arinka {
    .navigation {
      margin-top: 11px;
      left: 46%;
      li { padding: 3px 10px; }
    }
    .cta-btn { padding: 4px 12px; margin-top: 11px; }
    .product-overview {
      width: 97%;
    }
  }
}


@media screen and (max-width: 500px) {
  @include cardsizing($width: 50%);
  .arinka .blog-section {
    font-size: .7em;
    height: 430px;
  }
}

@media screen and (max-width: 480px) {
  .arinka {
    main { font-size: .9em; }
    .product-overview { margin-top: 125px; }
  }
}

@media screen and (max-width: 479px) {
  @include cardsizing($width: 56%);
}

@media screen and (max-width: 460px) {
  .arinka {
    main { font-size: .9em; }
    .app-header {
      padding: 20px;
    }
    .product-overview {
      margin-top: 115px;
    }
    .search-section {
      margin-top: 100px;
    }
    .blog-section {
      font-size: .65em;
      height: 390px;
    }
  }
  #__scrrenSizeIndicator {
    right: unset !important;
    left: 10px;
  }
}

@media screen and (max-width: 454px) {
  .arinka {
    .product-overview {
      font-size: 1em;
    }
    .search-section {
      margin-top: 110px;
    }
  }
}

@media screen and (max-width: 439px) {
  .arinka .cards-section {
    font-size: 1.3em;
    .card {
      margin: 0 auto 10px auto;
      padding-top: 230px;
      height: 350px;
      width: 83%;
    }
  }
}

@media screen and (max-width: 440px) {
  .arinka .blog-section {
    font-size: .56em;
    height: 360px;
  }
}

@media screen and (max-width: 430px) {
  .arinka {
    main { height: 330px; }
    .app-header {
      padding-right: 13px;
      padding-left: 13px;
    }
    .product-overview {
      margin-top: 85px;
      width: 96%;
    }
    .search-section {
      margin-top: 85px;
      input { padding-bottom: 8px; padding-top: 8px; }
    }
  }
}

@media screen and (max-width: 406px) {
  html { font-size: 12px; }
}

@media screen and (max-width: 390px) {
  html { font-size: 11px; }
  .arinka .cards-section .card {
    padding-top: 190px;
    height: 300px;
    width: 83%;
  }
}
