@media screen and (max-width: 650px) {
  .arinka .product-overview h1 { font-size: 3.3em; }
  .search-section { margin-top: 120px; }
}

@media screen and (max-width: 634px) {
  .arinka {
    main { height: 440px; font-size: .95em; }
    .product-overview {
      margin-top: 105px;
      width: 92%;
    }
  }
}

@media screen and (max-width: 620px) {
  @include cardsizing(
    $valign: -28.5px,
    $height: 270px,
    $width: 46%,
    $factor: 90
  );
}

@media screen and (max-width: 599px) {
  @include cardsizing($valign: -31.5px);
  html { font-size: 12.5px; }
  .arinka {
    main { height: 390px; }
    .app-header {
      padding: 20px 15px;
      font-size: 1.18em;
      .logo svg {
        vertical-align: -16px;
        margin-right: 4px;
        height: 43px;
        width: 22px;
      }
    }
    .cta-btn {
      padding: 5px 15px;
      margin-top: 9px;
      font-size: .7em;
    }
    .product-overview {
      margin-top: 115px;
      font-size: 1.13em;
    }
    .search-section {
      margin-top: 80px;
      input { padding: 10px 20px; }
    }
    .cards-section { width: 100%; }
    .about { width: 95%; font-size: .9em; }
    .blog-section { height: 460px; }
    footer {
      padding: 30px 20px 40px;
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 568px) {
  .arinka .product-overview h1 {
    font-size: 3.15em;
  }
}

@media screen and (max-width: 550px) {
  .arinka {
    .product-overview { width: 98%; }
    .about { font-size: .85em; }
  }
}

@media screen and (max-width: 539px) {
  @include cardsizing($width: 50%);
}

@media screen and (max-width: 518px) {
  .arinka {
    .product-overview h1 { font-size: 2.9em; }
    .search-section { margin-top: 90px; }
  }
}

@media screen and (max-width: 504px) {
  .arinka {
    .navigation {
      margin-top: 11px;
      left: 46%;
      li { padding: 3px 10px; }
    }
    .cta-btn { padding: 2px 12px; margin-top: 11px; }
    .product-overview {
      width: 97%;
    }
  }
}

@media screen and (max-width: 500px) {
  @include cardsizing($width: 50%);
  .arinka .blog-section {
    font-size: .7em;
    height: 410px;
  }
}

@media screen and (max-width: 480px) {
  .arinka {
    main { font-size: .9em; }
    .product-overview { margin-top: 125px; }
  }
}

@media screen and (max-width: 479px) {
  @include cardsizing($width: 56%);
}

@media screen and (max-width: 460px) {
  .arinka {
    main { font-size: .9em; height: 370px; }
    .app-header {
      padding: 20px;
    }
    .product-overview {
      margin-top: 115px;
    }
    .search-section {
      margin-top: 80px;
    }
    .blog-section {
      font-size: .65em;
      height: 390px;
    }
  }
  #__scrrenSizeIndicator {
    right: unset !important;
    left: 10px;
  }
}

@media screen and (max-width: 454px) {
  .arinka {
    .product-overview {
      font-size: 1em;
    }
    .search-section {
      margin-top: 90px;
    }
  }
}

@media screen and (max-width: 450px) {
  .arinka {
    .navigation,
    .cta-btn {
      display: none;
    }
    .app-header .logo { font-size: 1em; }
  }
  .menu-trigger {
    background-color: transparent;
    text-transform: uppercase;
    position: relative;
    margin-top: 13px;
    font-weight: 500;
    cursor: pointer;
    float: right;
    border: 0;
  }
  .burger {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    height: 11px;
    width: 15px;
    .bar {
      @include border-radius(2px);
      background: $white;
      position: absolute;
      cursor: pointer;
      display: block;
      height: 1.5px;
      width: $full;
      &:nth-child(2) {
        top: 5px;
      }
      &:nth-child(3) {
        top: 10px;
      }
    }
  }
  .menu-overlay {
    @include transition(all .2s ease);
    @include opacity(.5);
    background-color: #273340;
    background-color: rgba(39, 51, 64, .998);
    visibility: hidden;
    text-align: center;
    font-size: 1.8em;
    position: fixed;
    display: block;
    z-index: 9999;
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    &.open {
      @include opacity(1);
      visibility: visible;
    }
    *:not(div) {
      text-transform: uppercase;
      display: block;
    }
    li {
      padding: 5px 0;
      a {
        letter-spacing: .03em;
      }
    }
    button:not(.close-btn) {
      $color: #3B4A5A;
      @include transition(all .3s ease-in-out);
      border-color: transparent;
      letter-spacing: .05rem;
      padding: 7px 20px 5px;
      border-style: solid;
      margin: 20px auto 0;
      background: $white;
      border-width: 2px;
      font-size: .6em;
      color: $color;
      &:hover {
        background-color: transparent;
        border-color: $color;
        color: $white;
      }
    }
    .close-btn {
      background-color: transparent;
      font-size: .6em;
      color: $white;
      padding: 30px;
      float: right;
      border: 0;
      svg {
        vertical-align: -9px;
        display: inline-block;
        margin-right: -3px;
        fill: $white;
        height: 28px;
        width: 18px;
      }
    }
    .inner {
      @include transform(translate(-50%, -50%));
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
}

@media screen and (max-width: 440px) {
  .arinka .blog-section {
    font-size: .56em;
    height: 340px;
  }
}

@media screen and (max-width: 439px) {
  .arinka .cards-section {
    font-size: 1.3em;
    .card {
      margin: 0 auto 10px auto;
      padding-top: 230px;
      height: 350px;
      width: 83%;
    }
  }
}

@media screen and (max-width: 430px) {
  .arinka {
    main { height: 330px; }
    .app-header {
      padding-right: 13px;
      padding-left: 13px;
    }
    .product-overview {
      margin-top: 85px;
      width: 96%;
    }
    .search-section {
      margin-top: 85px;
      input { padding-bottom: 8px; padding-top: 8px; }
    }
  }
}

@media screen and (max-width: 406px) {
  html { font-size: 12px; }
  .arinka {
    .product-overview { margin-top: 100px; }
    .search-section { margin-top: 75px; }
  }
}

@media screen and (max-width: 390px) {
  html { font-size: 11px; }
  .arinka {
    .cards-section .card {
      padding-top: 190px;
      height: 300px;
      width: 83%;
    }
    .product-overview h1 { font-size: 3em; }
    .search-section {
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: 380px) {
  .arinka .blog-section {
    height: 300px;
    .content {
      padding-bottom: 70px;
      margin-left: 20px;
      padding-top: 70px;
      font-size: 1.7em;
    }
  }
}

@media screen and (max-width: 371px) {
  .arinka {
    .product-overview {
      width: 99%;
      h1 { font-size: 2.85em; }
    }
    .search-section { margin-top: 85px; }
  }
}

@media screen and (max-width: 343px) {
  .arinka .product-overview h1 { font-size: 2.645em; }
}
