/* ==========================================================================
   Variables
   ========================================================================== */

$basefont: 'Catamaran', Calibri, 'Trebuchet MS', Helvetica, Arial, georgia, sans-serif, serif;
$off_white: #f9f9f9;
$white: #ffffff;
$black: #000000;
$basecolor: #F2994A;
$base-color: $basecolor;
$base_color: $basecolor;
$full: 100%;
