/* ==========================================================================
   Variables
   ========================================================================== */

$basefont: 'Catamaran', Calibri, 'Trebuchet MS', Helvetica, Arial, georgia, sans-serif, serif;
$expr: top, rgb(235, 87, 87) 0%, rgb(215, 142, 82) 95%, rgb(214, 145, 82) 100%;
$expr2: to bottom, rgb(235, 87, 87) 0%, rgb(215, 142, 82) 95%, rgb(214, 145, 82) 100%;
$off_white: #f9f9f9;
$white: #ffffff;
$black: #000000;
$basecolor: #F2994A;
$base-color: $basecolor;
$base_color: $basecolor;
$full: 100%;
